.tracking{
    padding: 17px;
    max-width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    border-spacing: 5;
}
.tracking-item{
    display: flex;
    direction: rtl;
    margin-top: 30px !important;
}
@media  screen and (max-width:700px) {
    .order-complains-div{
            width: auto;
    }
    
}
