.tracking{
    padding: 50px;
    max-width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    border-spacing: 5;
}
.tracking-item{
    display: flex;
    direction: rtl;
}