@font-face {
  font-family:cairo;
  src: url(./Assetes/Fonts/Cairo/static/Cairo-Regular.ttf) format("truetype");
}
.App{
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  font-family: cairo;
}
#nav-section{
  position: sticky;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  font-family: cairo;
  font-weight: bold;
  display: block;
  transition: top 0.6s;
}
.navbar-nav {
  margin: auto;

}
.navbar-nav--head {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav-item {
  padding: 0 30px;
}

.nav-link--active {
  color: rgb(188, 76, 42) !important;
}
.nav-top{
  justify-content: flex-end;
  align-items: center;
  padding: 10px 50px 20px !important;
  margin: 0 !important;  
}
.nav-item--top {
  font-family: avenir;
  padding-inline-start: 8px;
}
.nav-link,
.nav-link--top {
  color: rgb(17, 17, 17) !important;
  font-size: 17px;
  transition: color 0.6s;
}
.nav-link:hover,.nav-link--top:hover {
  color: rgb(188, 76, 42) !important;
}
.nav-top--login-cart{
  display: flex;
  align-items: flex-end;
  padding-inline-start: 10px;
}
a.nav-link--top {
  text-decoration: none;
}
.login {
  padding-inline-start: 9px;
  text-decoration: none;
  color: rgb(17, 17, 17);
}
.cart {
  padding-inline-start: 20px;
  color: rgb(188, 76, 42);
}
.user-icon {
  font-size: 20px;
  color: rgb(188, 76, 42);
}
.nav-brand {
  font-family: didot;
  font-style: italic;
  font-weight: 100 !important;
  font-size: 44px !important;
  color: rgb(188, 76, 42);
  cursor: pointer;
  transition: color 0.6s;
  text-align: center;
  position: relative;
  transform: translateX(8%);
}
.nav-brand:hover {
  color: rgb(17, 17, 17);
}
.search {
  border: none;
}
.search-box{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(188, 76, 42);
  color: rgb(188, 76, 42);
  width: 200px;
}
.search::placeholder{
  color: rgb(188, 76, 42);
  font-family: avenir;
}
.search-icon{
  font-size: 16px;
  padding-inline-end: 3px;
}
@media only screen and (max-width: 765px) {
  .nav-item {
    padding: 0 10px;
  }
}

.number-card-input{
  font-size: 16px;
    border: 1px solid #e3e7ec;
    height: 36px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 10px;
    width: 240px;
    font-family: Roboto, Helvetica, Arial, Lucida, sans-serif;
    color: #979797;
}
.number-card-title{
  font-size: 16px;
    color: #101010;
    font-family: Nunito, Helvetica, Arial, Lucida, sans-serif;
    font-weight: bolder;
}
.number-card-subtitle{
  font-size: 16px;
    font-family: Roboto, Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    color: #5e5e5e;
    line-height: 20px;
}
.number-card-button{

    height: 20px;
    background: #ff0000;
    border: none;
    width: 20px;
    padding:-1px 6px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;

}
